#pageheader{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: #343A40;
    color: #F1C422;
    border: 1px solid #F1C422;
}
table a:hover{
    color: antiquewhite;
}

#tableHeader{
    font-size: 12px;
    line-height: 12px;
    background: #333; 
    color: white; 
    text-align: center; 
    font-weight: bold;    
}

#tableContent {
    margin:-15px;
    margin-top: 0px;
    margin-right: -20px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 400px;
}
#tableHeader div { 
    padding: 6px; 
    font-size: 12px;
    border-bottom: 2px;
}
#tablerow div{
    padding: 6px; 
    border: 1px solid #ccc;
    border-top: 0px; 
    text-align: center; 
}
.odd{
    background: #eee; 
}

table { 
    width: 100%; 
    border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
    background: #eee; 
    border: 1px solid #ccc;   
    
}
th { 
    background: #343A40;
    color: #F1C422;
    font-weight: bold; 
    text-align: center;  
}
td { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: center; 
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }
    
    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    
    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "First Name"; }
    td:nth-of-type(2):before { content: "Last Name"; }
    td:nth-of-type(3):before { content: "Job Title"; }
    td:nth-of-type(4):before { content: "Favorite Color"; }
    td:nth-of-type(5):before { content: "Wars of Trek?"; }
    td:nth-of-type(6):before { content: "Porn Name"; }
    td:nth-of-type(7):before { content: "Date of Birth"; }
    td:nth-of-type(8):before { content: "Dream Vacation City"; }
    td:nth-of-type(9):before { content: "GPA"; }
    td:nth-of-type(10):before { content: "Arbitrary Data"; }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body { 
        padding: 0; 
        margin: 0; 
        width: 320px; 
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body { 
        width: 495px; 
    }
}